# This workflow will build and publish the python-sdk package to PyPI when a commit is pushed to the main branch.

name: Publish Python Package to PyPI

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    name: Build and publish Python package to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
